<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css" >
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{title}}</h1>
            <p>APP per la visualizzazione del meteo e delle coordinate di geolocalizzazione</p>
            <img src="img/2.jpg" class="portrait">
        </div>
         
     
         {{>footer}}
    </body>
</html>