
<header>
    <h3>titolo dinamico -> {{title}}</h3>

    
        <a href="/">Index</a>
        <a href="/about">About</a>
        <a href="/weather">Meteo oggi</a>
        <a href="/help">Help</a>
</header>